<!-- 5 day Weather data -->
<table *ngIf="FiveDayWeather">
  <thead class="text-left">
    <tr>
      <td *ngFor="let forecast of dailyWeatherData | keyvalue">
        <div class="column">
          <p class="date">
            {{ forecast.key | date : "shortDate" }},
            {{ forecast.key | date : "EEE" }}
          </p>
          <div *ngFor="let forecastDetail of forecast.value">
            <div class="forecast-item">
              <img
                [src]="forecastDetail.dailyWeatherIcon"
                alt="Weather Icon"
                class="img-fluid"
              />
              <p class="temperature">
                {{ forecastDetail.maxTemperature }} /
                {{ forecastDetail.minTemperature }}
              </p>
              <p class="weather-description">
                {{ forecastDetail.weatherDescription }}
              </p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </thead>
</table>
<!-- 5 day Weather data -->
