//search.component.scss
.container {
  margin-top: 20px;
  align-content: center;
  form {
    width: 100%;
  }
  .full-width-form {
    width: 100%;
  }
  .form-control {
    width: auto;
  }
  .validation-error {
    color: red;
    text-align: center;
  }

  h2 {
    margin-top: 20px;
  }

  .input-group {
    margin-bottom: 20px;

    .input-label {
      display: block;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-top: 5px;
      font-weight: bold;
      width: fit-content;
    }

    input {
      margin-right: 5px;
    }

    .input-group-prepend,
    .input-group-append {
      .input-group-text {
        background-color: #007bff;
        color: #fff;
      }
    }

    .btn-primary {
      background-color: #007bff;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.seperator {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}
