.container {
  margin-top: 20px;

  h2 {
    margin-top: 20px;
  }

  .input-group {
    margin-bottom: 20px;

    .input-label {
      display: block;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-top: 5px;
      font-weight: bold;
    }

    input {
      margin-right: 5px;
    }

    .input-group-prepend,
    .input-group-append {
      .input-group-text {
        background-color: #007bff;
        color: #fff;
      }
    }

    .btn-primary {
      background-color: #007bff;
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  .text-center {
    margin-bottom: 20px;
  }
  .text-left {
    text-align: left;
  }
  .seperator {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  // .background-image {
  //   background: url("../../assets/sky-background-video-conferencing_23-2148639325.avif")
  //     no-repeat center;
  //   background-size: cover;
  // }

  table {
    margin-top: 20px;
    width: 100%;

    th,
    td {
      padding: 10px;
      text-align: center;
    }

    // th {
    //   background-color: #007bff;
    //   color: #fff;
    // }

    // tr:nth-child(even) {
    //   background-color: #f2f2f2;
    // }

    img {
      max-width: 50px;
      max-height: 50px;
    }

    .column {
      width: 200px;
      height: 250px;
      padding: 5px;
      border: 1px solid #ccc;
      margin: 5px;
    }

    .date {
      font-weight: bold;
    }

    .forecast-item {
      text-align: center;
      margin-top: 10px;

      img {
        max-width: 50px;
        max-height: 50px;
      }

      .weather-description {
        margin-top: 5px;
      }

      .temperature {
        margin-top: 5px;
        font-weight: bold;
      }
    }
  }
}
