<!-- search-bar.component.html -->

<div class="container background-image">
  <h2 class="mt-4">Welcome to the Weather Forecast</h2>

  <div class="input-group mb-4">
    <label for="cityInput" class="input-label">Search weather by City</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cityName"
      placeholder="Search Weather by a city"
    />
    <div class="input-group-append">
      <button
        tooltip="Farenheit"
        class="btn btn-primary"
        (click)="searchWeather('imperial')"
      >
        &deg;F
      </button>
      <button
        tooltip="Celsius"
        class="btn btn-primary"
        (click)="searchWeather('metric')"
      >
        &deg;C
      </button>
    </div>
  </div>
  <div class="seperator">OR</div>
  <div class="input-group mb-4">
    <label for="cityInput" class="input-label"
      >Search weather by Latitude and Longitude</label
    >
    <input
      type="text"
      class="form-control"
      [(ngModel)]="latitude"
      placeholder="Enter Latitude"
    />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="longitude"
      placeholder="Enter Longitude"
    />
    <div class="input-group-append">
      <button
        tooltip="Farenheit"
        class="btn btn-primary"
        (click)="searchWeather('imperial')"
      >
        &deg;F
      </button>
      <button
        tooltip="Celsius"
        class="btn btn-primary"
        (click)="searchWeather('metric')"
      >
        &deg;C
      </button>
    </div>
  </div>

  <!-- Current Weather data -->
  <app-current-weather
    *ngIf="weatherData"
    [WeatherData]="weatherData"
  ></app-current-weather>

  <!-- Current Weather data -->

  <!-- 5 day Weather data -->
  <app-daily-weather
    *ngIf="fiveDayWeather"
    [FiveDayWeather]="fiveDayWeather"
  ></app-daily-weather>

  <!-- 5 day Weather data -->
</div>
