<!-- Current Weather data -->
<div *ngIf="WeatherData" class="mb-4">
  <h3 class="text-center">
    {{ WeatherData?.name }}, {{ WeatherData?.sys?.country }}
  </h3>
  <table>
    <tbody class="text-center">
      <tr>
        Displaying weather in
        {{
          WeatherData.temperatureUnit
        }}
      </tr>
      <tr>
        Today's Weather
      </tr>
      <tr>
        <td>
          <img
            [src]="overallWeathericon"
            alt="Weather Icon"
            class="img-fluid"
          />
          <span class="temp">{{ temp }} </span>
          <span class="description">{{ description }}</span>
        </td>
      </tr>
      <tr>
        Feels Like:
        <span class="feelsLike"> {{ feelsLike }}</span>
      </tr>
      <tr>
        Humidity:
        <span class="humidity">{{ humidity }} %</span>
      </tr>
      <tr>
        Wind Speed:
        <span class="windSpeed"> {{ windSpeed }} mph</span>
      </tr>
    </tbody>
  </table>
</div>
<!-- Current Weather data -->
